# **Audioset CSV filter by class ID**

### **1. download unbalanced train segment.csv**

In [ ]:
!wget http://storage.googleapis.com/us_audioset/youtube_corpus/v1/csv/unbalanced_train_segments.csv

--2021-07-19 06:17:50--  http://storage.googleapis.com/us_audioset/youtube_corpus/v1/csv/unbalanced_train_segments.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.143.128, 108.177.119.128, 108.177.126.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.143.128|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 101468408 (97M) [application/octet-stream]
Saving to: ‘unbalanced_train_segments.csv’

unbalanced_train_se 100%[===================>]  96.77M  82.4MB/s    in 1.2s

2021-07-19 06:17:51 (82.4 MB/s) - ‘unbalanced_train_segments.csv’ saved [101468408/101468408]

### **2. Read csv using Pandas and remove headers**

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv(filepath_or_buffer='/content/unbalanced_train_segments.csv', sep=',', skiprows= [0,5], quotechar='"', skipinitialspace=True,header=None)
df = df[3:]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### **3. Display the dataframe**

In [ ]:
df

                   0       1       2                                      3
3        ---2_BBVHAA  30.000  40.000                               /m/09x0r
4        ---EDNidJUA  30.000  40.000  /m/02qldy,/m/02zsn,/m/05zppz,/m/09x0r
5        ---N4cFAE1A  21.000  31.000                      /m/04rlf,/m/09x0r
6        ---fcVQUf3E  30.000  40.000                      /m/019jd,/m/07yv9
7        ---g9OGAhwc  30.000  40.000                      /m/04rlf,/m/0c1dj
...              ...     ...     ...                                    ...
2041785  zzyyleHsxfk      20      30   /m/05tny_,/m/068hy,/m/0bt9lr,/m/0jbk
2041786  zzz-JsGPtxQ     120     130                    /m/015lz1,/m/0l14jd
2041787  zzz3PZXRQ_8      30      40                     /m/030rvx,/m/09x0r
2041788  zzznDcamMpw       0      10                      /m/09ddx,/m/09x0r
2041789  zzztDPePp4g     410     420           /m/04rlf,/m/09x0r,/t/dd00126

[2041787 rows x 4 columns]

### **4. Define the class indices to filter**
- class indices for each class can be found in class_labels_indices.csv

In [ ]:
classes = ['/m/03qc9zr',
           '/m/0463cq4',
           '/t/dd00002',
           '/m/05tny_',
           '/m/02_41',
           '/m/02mfyn',
           '/m/012ndj',
           '/m/07pp_mv',
           '/m/03kmc9',
           '/m/01y3hg',
           '/m/0c3f7m',
           '/m/014zdl',
           '/m/032s66',
           '/m/0_1c']
# df = df[0].str.split(',',3,expand=True)
# df[3] = df[3].str.replace('"','')
# df[3] = df[3].str.replace(' ','')
# df = df[3:]
# df = df.apply(lambda x: x in classes)

### **5. Filter the classes (Choose these 2 options)**

**5.1 filter out the defined classes above**

In [ ]:
dfd = df[df.apply(lambda x: all([i not in classes for i in x[3].split(',')]),axis=1)]
print('all classes csv length : ',len(df))
print('filtered csv length : ',len(dfd))

all classes csv length :  2041787
filtered csv length :  2015032

**5.1 filter out only the classes that wasn't defined from above**

In [ ]:
dfd = df[df.apply(lambda x: any([i in classes for i in x[3].split(',')]),axis=1)]
print('all classes csv length : ',len(df))
print('filtered csv length : ',len(dfd))

all classes csv length :  2041787
filtered csv length :  26755

### **6. Trim the filtered csv to a specific range (optional)**

In [ ]:
dfd = dfd[0 : 1000]

### **7. Save the result to a new csv**

In [ ]:
className = '10_Noises_Exclude' #class name
filename = className +'_'+''.join(str(i).replace('/','') + '_' for i in classes) + '.csv'
# dfd.to_excel("/content/drive/MyDrive/"+filename, sheet_name='sheet1')
dfd.to_csv("/content/drive/MyDrive/"+filename,sep = ',')